* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px; /* ~1rem*/
}

/*variables */
:root {
    --card_width: 15.625rem;
    /*~250px Anchura de la tarjeta/pin */
    --row_increment: 0.625rem;
    /*~10px Al estar usando CSS grid, cada tarjeta/pin estará hecha con incrementos de 10px para las filas */
    --card_border_radius: 1rem;
    /*~16px  Redondeo en los bordes de las tarjetas/pines*/
    --card_small: 26;
    /* Factor de crecimiento para tarjetas pequeñas: 26*0.625rem */
    --card_medium: 33;
    /* Factor de crecimiento para tarjetas medianas: 26*0.625rem */
    --card_large: 45;
    /* Factor de crecimiento para tarjetas grandes: 26*0.625rem */
}

#content{
    height: 100vh;   /*100% de visualizacion, mas no toda la pantalla*/
    width: 100%;    /* 100% de ancho de toda la pantalla*/
    background-color: #ffffff;
}

#navbar-pinterest{    /* clase de la barra de navegacion*/
    height: 5rem;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
}

.navbar_ancla{
    padding-inline-start: 1rem;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.navbar_ancla>img{
    height: 2rem;
}

.navbar_pinteres_buttons_container{
    width: 16rem;
    height: 100%;
    background-color: #ffffff;
}

.navbar_pinterest_buttons{
    padding-inline-start: 1rem;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    background-color: black;
}

.navbar_input_search_container{
    height: 100%;
    flex-grow: 4;
    min-width: 3rem;
    background-color: ffffff;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.navbar_input_search{
    padding-inline-start: 0.6rem;
    height: 3.5rem;
    width: 100%;
    background-color: #e9e9e9;
    border-radius: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.navbar_input_search>svg{
    height: 1.5rem;
    align-content: center;
}

.navbar_input_search>input{
    height: 1.8rem;
    flex-grow: 3;
    align-content: center;
}

.navbar_user_buttons_container{
    width: 13rem;
    background-color: blue;
}
.navbar_user_buttons{
    padding-inline-start: 1.4rem;
    height: 100%;
    background-color: #e9e9e9;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.navbar_user_buttons>svg{
    height: 1.7rem;
}

/* inicia el contenedor*/

.pin_container {
    display: grid;
    margin: 0;
    padding: 0;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    grid-template-columns: repeat(auto-fill, var(--card_width));
    grid-auto-rows: var(--row_increment);
    justify-content: center;
    background-color: ffffffff;
    float: left;
}

.card {
    position: relative;
    padding: 0;
    margin: 15px 10px;
    border-radius: var(--card_border_radius);
    background-color: red;
}

.card_content{
    width: 100%;
    height: 100%;
    padding-top: 0.1rem;
    position: absolute;
    text-align: center;
    background-color: crimson;
    border-radius: var(--card_border_radius);
}

.card_content>img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 1rem;
  }

  .card_small>img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 1rem;
  }

  .card_large>img{
    object-fit: cover;
    width:100%;
    height:100%;
    border-radius: 1rem;
  }

.card_buttons_on_hover{
    width: 100%;
    height: 100%;
    padding-top: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    transition: opacity 0.3s ease-in-out;
    border-radius: var(--card_border_radius);
}

.card_buttons_on_hover:hover{
    opacity: 1;
}

.card_small {
    grid-row-end: span var(--card_small);
}

.card_medium {
    grid-row-end: span var(--card_medium);
}

.card_large {
    grid-row-end: span var(--card_large);
}
